.ghe {
  /* ghế thường */
  background-image: url(../../image/gheThuong.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
}
.gheVip {
  background-image: url(../../image/gheVip.png);
}

.gheDaDat {
  background-image: url(../../image/gheDaDat.png);

  cursor: no-drop;
}

.gheDangDat {
  background-image: url(../../image/gheDangDat.png);
}

.gheDaDuocDat {
  /*ghế được chính mình đặt */
  background-image: url(../../image/gheDaDat.png);
}

.gheKhachDat {
  background-image: url(../../image/gheCoNguoiDangDat.png);
}


.gheKhachDat {
  background-color: rgb(242, 25, 191) !important;
  cursor: no-drop;
}

.loai-ghe {
  background-image: url(../../image/gheThuong.png);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: default;
}

.loai-gheVip {
  background-image: url(../../image/gheVip.png);
  cursor: default;
}

.loai-gheDangDat {
  background-image: url(../../image/gheDangDat.png);
  cursor: default;
}
.loai-gheDaDuocDat {
  background-image: url(../../image/gheDaDat.png);
  cursor: default;
}

.loai-gheKhachDangDat {
  background-image: url(../../image/gheCoNguoiDangDat.png);
  cursor: default;
}
.ant-modal-confirm-body .anticon {
  display: none;
}
