.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-size: contain;
  justify-content: center;
  background-image: url(../../image/bgAuth.jpg);
  background-position: center;
}
